/* main.css */

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, a, table, th, td, input, textarea, option, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, small, button {
	/* font-family: 'YUniverse-B'; */
	font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
    color:#293241;
}

html, body {
	background-color: #EEE;
}

html {
		overflow-y: scroll;
}

.main {
	background-color: #FFF;
	width: 1200px;
	min-height: 500px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin: 0px auto;
	box-shadow: 0px 0px 5px #777;
}

.header {
	height: 100px;
	border-bottom: 1px solid #999;
	padding: 20px;
	
}

.content {
	/*  
		
		width : 고정(불변)
		min-width : 가변(최소 크기 고정, 최소가 아닐땐 100%)
		max-width : 가변(최대 크기 고정, 최대가 아닐땐 100%)
		
		height : 고정(불변)
		min-height : 가변(최소 크기 고정, 최소가 아닐땐 내용물의 크기)
		max-height : 가변(최대 크기 고정, 최대가 아닐땐 내용물의 크기)
	
	*/
	min-height: 500px;
	padding: 20px;
}

.footer {
	height: 80px;
	border-top: 1px solid #999;
	padding: 20px;
}

.footerbox{
	width:1000px;
	height:140px;
}

.footerbox .ftimgbox{
	width:200px;
	float:left;
	margin-right:-100px;
}



.footerbox .companyinfo{
	width:800px;
	height:120px;
	font-size:11px;
}

.footerlogo{width:100px;}


.headerimg{
	width:150px;
	float:left;
	cursor:pointer;
}

.header .title {
	margin: 0;
	padding: 0;
	font-variant: small-caps;
}

.header .menu {
	float: center;
	list-style: none;
	font-variant: small-caps;
	margin-left:200px;
	margin-top:20px;
	
}

.header .menu li {
	float: left;
	margin: 0 10px;
	cursor: pointer;
	font-size:14px;
}

.header .menu div {
	float: left;
	margin: 0 10px;
	cursor: pointer;
}

.header .menu input {
	width:200px;
	
	margin-right:10px;
	
}

.header .menu span {
	font-size:30px;
	float: left;
	margin: 0 10px;
	cursor: pointer;
}

.header .menu li:hover {
	color: #EE6C4D;
}

.header .menu span:hover {
	color: #EE6C4D;
}


/* 메인화면 */
.container {}


