/* main.css */


/*@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
/*@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
*/


@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, a, table, th, td, input, textarea, option, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, small, button {

	/*font-family: 'CookieRun-Regular';*/
	/*font-family: 'Gowun Dodum', sans-serif;*/
	font-family: 'SBAggroM', sans-serif;
	/*font-weight: bold;*/
}
.search{
	font-size:0.8em;


}

html, body {
	background-color: #EEE;
}

html {
		overflow-y: scroll;
}

.main {
	background-color: #FFF;
	width: 1200px;
	min-height: 500px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin: 0px auto;
	box-shadow: 0px 0px 5px #777;
}

.header {
	height: 100px;
	/*border-bottom: 1px solid #999;*/
	padding: 20px;

	/*background-color:gold;*/
	position: relative;

}

.content {
	/*  
		
		width : 고정(불변)
		min-width : 가변(최소 크기 고정, 최소가 아닐땐 100%)
		max-width : 가변(최대 크기 고정, 최대가 아닐땐 100%)
		
		height : 고정(불변)
		min-height : 가변(최소 크기 고정, 최소가 아닐땐 내용물의 크기)
		max-height : 가변(최대 크기 고정, 최대가 아닐땐 내용물의 크기)
	
	*/
	min-height: 500px;
	padding: 20px;
}


/*footer*/
.footer {
	height: 80px;
	border-top: 1px solid #999;
	padding: 20px;
}
.footerbox{
	width:1000px;
	height:140px;
}

.footerbox .ftimgbox{
	width:200px;
	float:left;
	margin-right:-100px;
}



.footerbox .companyinfo{
	width:800px;
	height:120px;
	font-size:11px;
}

.footerlogo{width:100px;}


/*header 수정*/

.headerimg{
	width:150px;
	float:left;
	cursor:pointer;
}

.header .title {
	margin: 0;
	padding: 0;
	font-variant: small-caps;
}

.header .title .logo{
		width: 210px;
		height: 100px;
		position:absolute;
		cursor: pointer;
	}

.header .menu {
	float: center;
	list-style: none;
	font-variant: small-caps;

	margin-left:190px;
	margin-top: 35px;

	
}

.header .menu li {
	float: left;
	margin: 0 10px;
	cursor: pointer;
	font-size:14px;
}

.header .menu div {
	float: left;
	margin: 0 10px;
	cursor: pointer;
	color:#7b809a;
}

.header .menu input {
	width:200px;
	
	margin-right:10px;
	
}
.header .menu .glyphicon-menu-hamburger{
	margin:0 5px;
	font-size: 14px;
	color: black;
}

.header .menu .submenu{
	margin-left:60px;
}

.header .menu span {
	font-size:19px;
	float: left;
	margin: 0 10px;
	cursor: pointer;
	color: #7b809a;
}




.header .menu span:hover {
	color: #EE6C4D;
}


.header .menu li:hover {
	color: #EE6C4D;

}


/*search*/
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background:white;
  }
  
  
.container-1 input#search{
  font-family: 'SBAggroM';
  width: 200px;
  height: 17px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}


.header .menu span:hover {
	color: #EE6C4D;
}


/* 메인화면 */


/* 목록보기 테이블 */
.table.list {
	width: 1050px;
	margin: 0px auto;
}

.table.list th, .table.list td { text-align: center; }

.table.list th:nth-child(1) { width: 50px; }
.table.list th:nth-child(2) { width: 150px; }
.table.list th:nth-child(3) { widows:450px; }
.table.list th:nth-child(4) { width: 50px; }
.table.list th:nth-child(5) { width: 150px; }
.table.list th:nth-child(6) { width: 150px; }
.table.list th:nth-child(7) { width: 50px; }
.table.list td:nth-child(3) { text-align: left; }


/* 버튼 컨테이너 */
.btns {
	width: 500px;
	margin: 20px auto;	
	text-align: right;
}



/* 글쓰기 테이블 */
.table.add {
	width: 700px;
	margin: 0 auto;
}

.table.add th { width: 150px; text-align: center; vertical-align: middle; }
.table.add td { width: 550px; }


/* 항공 */

.table.add textarea { resize: none; height: 300px; }

.form-control:focus {
	border-color: #CCC;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}



/* 페이지바 */
.pagebar {
	width: 700px;
	position: relative;
	text-align: right;
	top: -24px;

}

.btns-right{
	width: 1050px;
	margin: 10px auto;	
	text-align: right;
}
.search .table_search{
	position: relative;
	margin: 0px auto;
	top: -24px;
}

/* 관리자 메인 화면*/
.table.adminmenu tr th {text-align:center;}

.contentname td{font-size:12px; text-align:center;}
.table.adminmenu{width:1000px;margin:0 auto;}
.content.admin{margin-top:200px;}



.ftable{
	
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	font-size: 1em;
	text-align: center;
	}
	.ftable th{
	text-align: center;
	}
	
	.flight-body{
	text-align:center;
	}
	.flight_search{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	display:inline;
	}
	.flight_search li{
	
	cursor:pointer;
	padding: 10px;
	display:inline;
	color: #98C1D9;
	}
	.flight_search li:active{
	
	color: #293241;
	}
	
	/*g*/
	.input-group{
	margin: 10px 10px;
	}
	.btn-secondary{
	margin: 10px 10px;
	
	}
	
	select{
	margin: 0px 10px;
	color: #555555;
	font-size: 0.8em;
	}
	button:focus{
	background:white;
	border: none;
	outline: none;
	clear: both;
	
	}
	
	.btn:hover{
	background: rgb(239,239,239);
	color: red;
	}
	
	.show{
	display: block;
	}
	.blankbox{
	width: 242.54px;
	visibility: hidden;
	 height: 27px;
	}
	.blanklabel{
	width: 55.34px;
	height:25px;
	}