/* main.css */

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, a, table, th, td, input, textarea, option, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, small, button {
	font-family: 'CookieRun-Regular';
}

html, body {
	background-color: #EEE;
}

html {
		overflow-y: scroll;
}

.main {
	background-color: #FFF;
	width: 1200px;
	min-height: 500px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin: 0px auto;
	box-shadow: 0px 0px 5px #777;
}

.header {
	height: 100px;
	border-bottom: 1px solid #999;
	padding: 20px;
	background-color:gold;
}

.content {
	/*  
		
		width : 고정(불변)
		min-width : 가변(최소 크기 고정, 최소가 아닐땐 100%)
		max-width : 가변(최대 크기 고정, 최대가 아닐땐 100%)
		
		height : 고정(불변)
		min-height : 가변(최소 크기 고정, 최소가 아닐땐 내용물의 크기)
		max-height : 가변(최대 크기 고정, 최대가 아닐땐 내용물의 크기)
	
	*/
	min-height: 500px;
	padding: 20px;
}

.footer {
	height: 50px;
	border-top: 1px solid #999;
	padding: 20px;
}


.header .title {
	margin: 0;
	padding: 0;
	font-variant: small-caps;
}

.header .menu {
	float: center;
	list-style: none;
	font-variant: small-caps;
	margin-left:200px;
	position:relative;
}

.header .menu li {
	float: left;
	margin: 0 10px;
	cursor: pointer;
}

.header .menu div {
	float: left;
	margin: 0 10px;
	cursor: pointer;
}

.header .menu input {
	width:200px;
	margin-bottom:100px;
	margin-right:10px;
	
}

.header .menu span {
	font-size:30px;
	float: left;
	margin: 0 10px;
	cursor: pointer;
}

.header .menu li:hover {
	color: cornflowerblue;
}


/* 목록보기 테이블 */
.table.list {
	width: 700px;
	margin: 0px auto;
}

.table.list th, .table.list td { text-align: center; }

.table.list th:nth-child(1) { width: 60px; }
.table.list th:nth-child(2) { width: auto; }
.table.list th:nth-child(3) { width: 80px; }
.table.list th:nth-child(4) { width: 120px; }
.table.list th:nth-child(5) { width: 60px; }
.table.list td:nth-child(2) { text-align: left; }


/* 버튼 컨테이너 */
.btns {
	width: 700px;
	margin: 20px auto;	
	text-align: right;
}


/* 글쓰기 테이블 */
.table.add {
	width: 700px;
	margin: 0 auto;
}

.table.add th { width: 150px; text-align: center; vertical-align: middle; }
.table.add td { width: 550px; }

.table.add textarea { resize: none; height: 300px; }







.form-control:focus {
	border-color: #CCC;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}


/*  댓글  */
.addcomment{
	width:600px;
	margin:0 auto;
	margin-top:35px;
	margin-bottom:20px;
}

.addcomment textarea{
	resize: none;
	width:500px;
	height:100px;
}

.table.comment{
	width:600px;
	margin:20px auto;
	margin-bottom:100px;
}

.table.comment td:nth-child(1){
	width:500px;
	position:relative;
	left:0;
	top:0;
	padding-bottom:25px;
}

.table.comment td:nth-child(1) small{
	color:#888;
	position:absolute;
	right:10px;
	bottom:5px;
}

.table.comment td:nth-child(2){
	text-align:center;
}

/* 페이지바 */
.pagebar {
	text-align:center;
	margin-top:20px;
}

